name: Health Alerts

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::786221173759:role/github
          aws-region: us-east-1  # change to your region

      - name: Run Terraform
        run: |
          terraform init
          terraform apply -auto-approve
